<div name="attribute-section" class="flexcol" id="attributes-section">
     <label><h2>Attributes</h2></label>
     <div class="attribute-square groove-bordered">
        <label><button type="button" class="no-style-button" id="{{actor.system.strength}}">Strength</button></label>
        <input name="system.strength" type="text" value = "{{actor.system.strength}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label><button type="button" class="no-style-button" id="{{actor.system.agility}}">Agility</button></label>
        <input name="system.agility" type="text" value = "{{actor.system.agility}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label><button type="button" class="no-style-button" id="{{actor.system.endurance}}">Endurance</button></label>
        <input name="system.endurance" type="text" value = "{{actor.system.endurance}}" data-dtype="Number"/>
    </div>

    {{! Optional Stats }}
    <!--
    <div class="attribute-square groove-bordered">
        <label><button type="button" class="no-style-button" id="{{actor.system.magic}}">Magic</button></label>
        <input name="system.magic" type="text" value = "{{actor.system.magic}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label><button type="button" class="no-style-button" id="{{actor.system.luck}}">Luck</button></label>
        <input name="system.luck" type="text" value = "{{actor.system.luck}}" data-dtype="Number"/>
    </div>
    -->
</div>

