<div name="attribute-section" class="flexcol" id="attributes-section">
    <label><h2>Attributes</h2> </label>
    <div class="attribute-square groove-bordered">
        <label>Agility</label>
        <input name="system.agility" type="text" value = "{{actor.system.agility}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Force</label>
        <input name="system.force" type="text" value = "{{actor.system.force}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Tenacity</label>
        <input name="system.tenacity" type="text" value = "{{actor.system.tenacity}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Scholarship</label>
        <input name="system.scholarship" type="text" value = "{{actor.system.scholarship}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Insight</label>
        <input name="system.insight" type="text" value = "{{actor.system.insight}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Magic</label>
        <input name="system.magic" type="text" value = "{{actor.system.magic}}" data-dtype="Number"/>
    </div>
    <div class="attribute-square groove-bordered">
        <label>Personality</label>
        <input name="system.personality" type="text" value = "{{actor.system.personality}}" data-dtype="Number"/>
    </div>
</div>