       
       
        <div class="flexrow groove-bordered rm-top-border rm-left-border rm-right-border">
            <img class="profile-img min-size groove-bordered rm-top-border rm-left-border rm-bottom-border" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="flexcol">
                <div class="flexrow">
                    <input type="text" name="name" value="{{actor.name}}" class="name" placeholder="Name" id="name-input">
                    <div class="flexcol min-size slow-grow">
                        <label>Species:</label>
                        <select name="attr_species">

                            {{#select actor.system.species}}
                            {{#each config.species as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}}
                            {{/select}}

                        </select>
                    </div>
                </div>
                
                <div class="flexrow bio-div">
                    <div class="flexcol min-size">
                        <label>Size:</label>
                        <select name="system.size" value="{{actor.system.size}}">
                            {{#select actor.system.size}}
                            {{#each config.sizes as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

